<aside class="main-sidebar">
  <section class="sidebar">
    
   
    <ul class="sidebar-menu" data-widget="tree">
      
      
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Veículos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/veiculo-list']"><i class="fa fa-circle-o"></i> Listagem</a></li>
          <li><a [routerLink]="['/veiculo-novo']"><i class="fa fa-circle-o"></i> Novo</a></li>
        </ul>
      </li>
      
      
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>